*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Condensed', 'Poppins', sans-serif;
    line-height: 1.5rem;

}
h1{
    margin-bottom: 20px;
}

header{
    background-color:#344E41;
    color:#DFF6FF ;
    padding: 20px;
    text-shadow: 0 0 30px black;
    text-align: center;
    
}
h2{
    width: 100%;
}
.name{
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.letter{
    background-color: #344E41;
    color:#DFF6FF;
    padding-top: 25px;    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px   
    
}
.text{
    padding: 0px 10px;
}

.main-container{   
    margin: 25px 25px;
    grid-gap: 20px;
    
}
.container{   
    background-color:#A3B18A;
    border: 2px gray solid;
    box-shadow: 0 0 30px #A3B18A;
    border-radius: 15px;
    
    
   
}


img{
    width: 95%;
    max-width: 100%;
    margin: 0px 10px;   
    
   
    
}
footer{
    background-color:#344E41 ;
    padding: 20px;
    text-align: center;
}